In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('~/Downloads/BHPS.csv')
df.shape

(538, 13)

In [3]:
df.head()

,Field Name,Lease Number,Completion Name,API Well Number,Reservoir Name,Test Date,Shut-In Time,Temp,SI Pressure,BH MD,True Vertical Depth,BH Pressure,Remark
0,BM002,00387,CL013,177150024901,8550 FB B,2/13/2016,9,191,241,2000.0,2064.0,252.0,NaN
1,BM002,00369,072,177144000802,7300 OO,1/11/2016,4,168,194,7500.0,6118.0,2578.0,Reservoir name noted on BHP-7300 OO.
2,BM002,00392,CD006,177140035203,83/87/8750BUW,1/5/2016,4,185,447,2000.0,2066.0,474.0,NaN
3,BM002,00386,EE014,177154077003,S 7900 BB,2/1/2016,4,190,785,10965.0,9537.0,2514.0,Reservoir name noted on BHP-S 07900 FB BB.
4,BM002,00369,004,177140033902,7600 RMS,1/6/2016,5,167,380,0.0,66.0,380.0,Reservoir noted on BHP-7600 RMS.